@font-face {
  font-family: 'piluli';
  src:  url('fonts/piluli.eot?61aqv2');
  src:  url('fonts/piluli.eot?61aqv2#iefix') format('embedded-opentype'),
    url('fonts/piluli.ttf?61aqv2') format('truetype'),
    url('fonts/piluli.woff?61aqv2') format('woff'),
    url('fonts/piluli.svg?61aqv2#piluli') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="piluli-"], [class*=" piluli-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'piluli' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.piluli-n-12:before {
  content: "\e952";
}
.piluli-n-10:before {
  content: "\e953";
}
.piluli-n-9:before {
  content: "\e954";
}
.piluli-n-8:before {
  content: "\e955";
}
.piluli-n-7:before {
  content: "\e956";
}
.piluli-n-6:before {
  content: "\e957";
}
.piluli-n-4:before {
  content: "\e958";
}
.piluli-n-5:before {
  content: "\e959";
}
.piluli-n-3:before {
  content: "\e95a";
}
.piluli-n-11:before {
  content: "\e95b";
}
.piluli-n-2:before {
  content: "\e95c";
}
.piluli-n-1:before {
  content: "\e95d";
}
.piluli-84:before {
  content: "\e951";
}
.piluli-diabet-09:before {
  content: "\e948";
}
.piluli-diabet-08:before {
  content: "\e949";
}
.piluli-diabet-07:before {
  content: "\e94a";
}
.piluli-diabet-06:before {
  content: "\e94b";
}
.piluli-diabet-05:before {
  content: "\e94c";
}
.piluli-diabet-04:before {
  content: "\e94d";
}
.piluli-diabet-03:before {
  content: "\e94e";
}
.piluli-diabet-02:before {
  content: "\e94f";
}
.piluli-diabet-01:before {
  content: "\e950";
}
.piluli-80:before {
  content: "\e944";
}
.piluli-79:before {
  content: "\e943";
}
.piluli-78:before {
  content: "\e941";
}
.piluli-77:before {
  content: "\e942";
}
.piluli-76:before {
  content: "\e93e";
}
.piluli-83:before {
  content: "\e947";
}
.piluli-82:before {
  content: "\e945";
}
.piluli-75:before {
  content: "\e93f";
}
.piluli-81:before {
  content: "\e946";
}
.piluli-74:before {
  content: "\e940";
}
.piluli-73:before {
  content: "\e93d";
}
.piluli-71:before {
  content: "\e93b";
}
.piluli-72:before {
  content: "\e93c";
}
.piluli-70:before {
  content: "\e93a";
}
.piluli-68:before {
  content: "\e938";
}
.piluli-69:before {
  content: "\e939";
}
.piluli-67:before {
  content: "\e937";
}
.piluli-home:before {
  content: "\f015";
}
.piluli-repeat:before {
  content: "\f01e";
}
.piluli-rotate-right:before {
  content: "\f01e";
}
.piluli-times-circle:before {
  content: "\f057";
}
.piluli-exclamation-circle:before {
  content: "\f06a";
}
.piluli-phone-square:before {
  content: "\f098";
}
.piluli-envelope:before {
  content: "\f0e0";
}
.piluli-angle-right:before {
  content: "\f105";
}
.piluli-spinner:before {
  content: "\f110";
}
.piluli-mail-reply:before {
  content: "\f112";
}
.piluli-reply:before {
  content: "\f112";
}
.piluli-heart:before {
  content: "\f004";
}
.piluli-clock-o:before {
  content: "\f017";
}
.piluli-pencil:before {
  content: "\f040";
}
.piluli-check-circle:before {
  content: "\f058";
}
.piluli-exclamation-triangle:before {
  content: "\f071";
}
.piluli-warning:before {
  content: "\f071";
}
.piluli-paperclip:before {
  content: "\f0c6";
}
.piluli-caret-down:before {
  content: "\f0d7";
}
.piluli-angle-up:before {
  content: "\f109";
}
.piluli-angle-down:before {
  content: "\f108";
}
.piluli-location-arrow:before {
  content: "\f124";
}
.piluli-long-arrow-left:before {
  content: "\f177";
}
.piluli-long-arrow-right:before {
  content: "\f178";
}
.piluli-64:before {
  content: "\e934";
}
.piluli-62:before {
  content: "\e933";
}
.piluli-61:before {
  content: "\e932";
}
.piluli-60:before {
  content: "\e930";
}
.piluli-59:before {
  content: "\e931";
}
.piluli-56:before {
  content: "\e92c";
}
.piluli-55:before {
  content: "\e92d";
}
.piluli-58:before {
  content: "\e92e";
}
.piluli-57:before {
  content: "\e92f";
}
.piluli-54:before {
  content: "\e92b";
}
.piluli-53:before {
  content: "\e92a";
}
.piluli-50:before {
  content: "\e928";
}
.piluli-48:before {
  content: "\e926";
}
.piluli-47:before {
  content: "\e927";
}
.piluli-42:before {
  content: "\e921";
}
.piluli-41:before {
  content: "\e922";
}
.piluli-40:before {
  content: "\e923";
}
.piluli-39:before {
  content: "\e924";
}
.piluli-38:before {
  content: "\e925";
}
.piluli-37:before {
  content: "\e920";
}
.piluli-25:before {
  content: "\e912";
}
.piluli-32:before {
  content: "\e913";
}
.piluli-31:before {
  content: "\e914";
}
.piluli-30:before {
  content: "\e915";
}
.piluli-29:before {
  content: "\e916";
}
.piluli-28:before {
  content: "\e917";
}
.piluli-27:before {
  content: "\e918";
}
.piluli-26:before {
  content: "\e919";
}
.piluli-24:before {
  content: "\e91a";
}
.piluli-23:before {
  content: "\e91b";
}
.piluli-22:before {
  content: "\e91c";
}
.piluli-21:before {
  content: "\e91d";
}
.piluli-20:before {
  content: "\e91e";
}
.piluli-19:before {
  content: "\e91f";
}
.piluli-18:before {
  content: "\e911";
}
.piluli-16:before {
  content: "\e90f";
}
.piluli-17:before {
  content: "\e910";
}
.piluli-15:before {
  content: "\e90d";
}
.piluli-14:before {
  content: "\e90e";
}
.piluli-13:before {
  content: "\e90c";
}
.piluli-1:before {
  content: "\e900";
}
.piluli-2:before {
  content: "\e901";
}
.piluli-3:before {
  content: "\e902";
}
.piluli-4:before {
  content: "\e903";
}
.piluli-5:before {
  content: "\e904";
}
.piluli-6:before {
  content: "\e905";
}
.piluli-7:before {
  content: "\e906";
}
.piluli-8:before {
  content: "\e907";
}
.piluli-9:before {
  content: "\e908";
}
.piluli-10:before {
  content: "\e909";
}
.piluli-11:before {
  content: "\e90a";
}
.piluli-12:before {
  content: "\e90b";
}
.piluli-49:before {
  content: "\e929";
}
.piluli-63:before {
  content: "\f002";
}
.piluli-43:before {
  content: "\f00c";
}
.piluli-44:before {
  content: "\f055";
}
.piluli-45:before {
  content: "\f056";
}
.piluli-34:before {
  content: "\f059";
}
.piluli-46:before {
  content: "\f064";
}
.piluli-51:before {
  content: "\f106";
}
.piluli-52:before {
  content: "\f107";
}
.piluli-33:before {
  content: "\f119";
}
.piluli-35:before {
  content: "\f137";
}
.piluli-36:before {
  content: "\f138";
}
.piluli-65:before {
  content: "\e935";
}
.piluli-66:before {
  content: "\e936";
}

